@import "utilities/tailwind.scss";
@import "components/_tag.scss";

.jtk-connector {
  z-index: 4;
}

.jtk-endpoint {
  z-index: 5;
}

path, .jtk-endpoint {
  cursor: pointer;
}

.primary-identifier-row > td{
  text-decoration: underline;
  font-weight: bold;
}
