@import "utilities/tailwind.scss";
@import "components/_tag.scss";
@import "components/_form.scss";
@import "components/_table.scss";
@import "components/_upload.scss";
@import "components/_btn.scss";

.jtk-connector {
  z-index: 4;
}

.jtk-endpoint {
  z-index: 7;
}

.entity{
  z-index: 6;
}

path, .jtk-endpoint {
  cursor: pointer;
}

.identifier-row > td{
  font-style: italic;
}

.primary-identifier-row > td{
  text-decoration: underline;
  font-weight: bold;
}

.relation-name.jtk-hover{
  display: inline-block;
}
